<div class="row">
    <div class="col-12 mt-2">
        <h3 class="green">Resitrar usuário</h3>
        <hr>
        <form>
            <div class="form-group">
                <label class="green" for="name">Nome completo</label>
                <input type="text" class="form-control" ng-model="model.name" id="name" placeholder="Informar nome">
            </div>
            <div class="form-group">
                <label class="green" for="email">Email</label>
                <input type="email" class="form-control" ng-model="model.email" id="email" placeholder="Informar email">
            </div>
            <div class="form-group">
                <label class="green" for="password">Senha</label>
                <input type="password" class="form-control" id="password" ng-model="model.password" placeholder="Senha">
            </div>
            <button ng-click="vm.createNewUser(model)" class="btn btn-outline-primary">Registrar</button>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <h3 class="green">Lista de usuários</h3>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="green">Nome</td>
                            <td class="green">Email</td>
                            <td class="green">Password</td>
                            <td class="green">Ação</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.model | orderBy: 'name'">
                            <td><input class="form-control" ng-model="user.name" type="text"></td>
                            <td><input class="form-control" ng-model="user.email" type="email"></td>
                            <td><input class="form-control" ng-model="user.password" type="password"></td>
                            <td>
                                <button ng-click="vm.updateUser(user)" class="btn btn-outline-primary">Atualizar</button>
                                <button ng-click="vm.deleteUser(user._id)" class="btn btn-outline-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>