<div class="row mt-3">
    <div class="col-6">
       <label class="green">Usuário</label>
       <input type="text" placeholder="example@gmail.com" ng-model="vm.model.email" class="form-control">
       <label class="green">Senha</label>
       <input type="password" placeholder="password" ng-model="vm.model.password" class="form-control">
       <button class="btn btn-outline-success mt-2" ng-click="vm.getLogin(vm.model)" >Login</button>
       <i ng-if="vm.isLoading" class="fas fa-spinner fa-w-16 fa-spin fa-lg"></i>      
    </div>
</div>