<div class="row">
    <div class="col-12 mt-2">
        <h4>Referência
            <button ui-sref="billing" class="btn btn-success">+</button>
        </h4>
        <div ng-repeat="item in vm.model" class="p-2">
            <div class="row">
                <div class="col-8">
                    <input type="month" ng-disabled="true" ng-model="item.ref" class="form-control">
                </div>
                <div class="col-2">
                    <button ui-sref="billing-detail({id: item._id})" class="btn btn-primary">Detalhes</button>
                </div>
            </div>    
        </div>
    </div>
</div>