<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label class="green">Referência</label>
                    <input type="month" ng-model="vm.model.ref" class="form-control">
                </div>
            </div>
        </form>
        <hr>
    </div>
    <div class="col-12 mt-2">
        <a ng-click="vm.addCredit()">
            <h5 class="green">Créditos</h5>
        </a>
        <div class="row mt-1" ng-repeat="credit in vm.model.credits">
            <div class="col-4">
                <input type="text" ng-model="credit.name" class="form-control">
            </div>
            <div class="col-3">
                <input type="number" ng-model="credit.value" class="form-control">
            </div>
            <div class="col-3">
                <input type="date" class="form-control"  ng-model="credit.date" placeholder="Informe a data do crédito">
            </div>
            <div class="col-2">
                <button ng-click="vm.deleteCredit($index, credit)" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <span class="green">Total de crédito: </span>
                <span class="green bold">R$: {{ vm.sumValue(vm.model.credits) | numberFormat }}</span>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <hr>
        <a ng-click="vm.addDeb()">
            <h5 class="green">Débitos</h5>
        </a>
        <div class="row mt-1" ng-repeat="debit in vm.model.debts">
            <div class="col-3">
                <input type="text" ng-model="debit.name" class="form-control">
            </div>
            <div class="col-3">
                <input type="number" ng-model="debit.value" class="form-control">
            </div>
            <div class="col-2">
                <select class="form-control" ng-model="debit.status">
                    <option value="PAY">Pago</option>
                    <option value="PENDING">Pendente</option>
                </select>
            </div>
            <div class="col-3">
                <input type="date" class="form-control" ng-model="debit.date" placeholder="Informe a data do crédito">
            </div>
            <div class="col-1">
                <button ng-click="vm.deleteDebit($index, debit)" class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <span class="green">Total de débito: </span>
                <span class="red bold">R$: {{ vm.sumValue(vm.model.debts) | numberFormat }}</span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr>
        <h2 class="green">Líquido:
            <span ng-class="{red: vm.isNegative, green: vm.isPositive}">{{ vm.getTotal(vm.model.credits, vm.model.debts) | numberFormat }}</span>
        </h2>
    </div>
    <div class="col-12">
        <hr>
        <button ng-if="!vm.id" ng-click="vm.createBilling(vm.model)" class="btn btn-outline-success">Novo</button>
        <button ng-if="vm.id" ng-click="vm.update(vm.model._id, vm.model)" class="btn btn-outline-primary">Atualizar</button>
        <button ng-click="vm.deleteBilling(vm.model._id)" class="btn btn-outline-danger">Deletar</button>
    </div>
</div>