<style>

</style>
<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-6">
                    <label>Referência</label>
                    <input type="month" ng-model="vm.model.ref" class="form-control">
                </div>
            </div>
        </form>
        <hr>
    </div>
    <div class="col-12 mt-2">
        <h5>Créditos</h5>
        <div class="row mt-1" ng-repeat="credit in vm.model.credits">
            <div class="col-4">
                <input type="text" ng-model="credit.name"  class="form-control">
            </div>
            <div class="col-4">
                <input type="number" ng-model="credit.value" class="form-control">
            </div>
            <div class="col-4">
                <button ng-click="vm.deleteCredit($index, credit)" class="btn btn-danger">-</button>  
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <input type="text" ng-model="vm.cre.name"  class="form-control">
            </div>
            <div class="col-4">
                <input type="number" ng-model="vm.cre.value" class="form-control">
            </div>
            <div class="col-4">
                <button ng-click="vm.addCredit(vm.cre)" class="btn btn-success">+</button>    
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <span>Total de crédito: </span>
                <span class="green bold">R$: {{ vm.sumValue(vm.model.credits) }}</span>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <hr>
        <h5>Débitos</h5>
        <div class="row mt-1" ng-repeat="debit in vm.model.debts">
                <div class="col-4">
                    <input type="text" ng-model="debit.name"  class="form-control">
                </div>
                <div class="col-4">
                    <input type="number" ng-model="debit.value" class="form-control">
                </div>
                <div class="col-4">
                    <button ng-click="vm.deleteDebit($index, debit)" class="btn btn-danger">-</button>  
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <input type="text" ng-model="vm.deb.name"  class="form-control">
                </div>
                <div class="col-4">
                    <input type="number" ng-model="vm.deb.value" class="form-control">
                </div>
                <div class="col-4">
                    <button ng-click="vm.addDeb(vm.deb)" class="btn btn-success">+</button>    
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <span>Total de débito: </span>
                    <span class="red bold">R$: {{ vm.sumValue(vm.model.debts) }}</span>
                </div>
            </div>
    </div>
    <div class="col-12">
        <hr>
        <h2>Líquido: <span ng-class="{red: vm.isNegative, green: vm.isPositive}">{{ vm.getTotal(vm.model.credits, vm.model.debts) }}</span></h2>
    </div>
    <div class="col-12">
        <hr>
        <button ng-if="!vm.id" ng-click="vm.createBilling(vm.model)" class="btn btn-success">Novo</button>
        <button ng-if="vm.id" ng-click="vm.update(vm.model._id, vm.model)" class="btn btn-primary">Atualizar</button>
        <button ng-click="vm.deleteBilling(vm.model._id)" class="btn btn-danger">Deletar</button>
        <button ui-sref="billing-list" class="btn btn-default">Lista</button>
    </div>
</div>