$green: #0FA789;
$red: #F44381;

.red {
    color: $red;
}
.green {
    color: $green;
}

.bg-black {
    background-color: #24262D;
}

.bg-neon {
    background-color: $green;
}

hr {
    background-color: $green;
}

.alert-primary {
    color: white !important;
    background-color: $green !important;
    border-color: $green !important;
}

.bg-primary {
    background-color: #13171F!important;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $green;
    background-color: #24262D;
    background-clip: padding-box;
    border: 1px solid $green;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $green;
    background-color: #24262D;
    background-clip: padding-box;
    border: 1px solid $red;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a {
    color: $green !important;
}

.pay {
    text-decoration: line-through;
    opacity: 0.5;
}